@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

// ================
// Variables
// ================
$background-primary: #151E27;
$background-primary-dark: scale-color($background-primary, $lightness: -20%);
$background-primary-bright: #456A94;
$background-secondary: #222d3b;

$text-primary: #FFFFFF;
$text-secondary: #66727E;
$text-secondary-bright: #81A3C8;
$text-username: #a1c395;
$text-error: #CA84A9;

$button-primary: #62A9DC; 
$button-primary-dark: scale-color($button-primary, $lightness: -20%);
$button-primary-bright: #65CDFB;


// ================
// App
// ================
.app {
	font-family: 'PT Sans', Arial, sans-serif;
	background-color: $background-primary;
	color: $text-primary;
	height: 100vh;
	justify-content: center;
}

// ================
// General
// ================

.button, .input {
	border: none;
	outline: none;
	font-family: inherit;
}

.button {
	cursor: pointer;
}

.overlay {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.5;
}

.overlay_on {
	display: initial;
}

.error {
	justify-content: center;
	color: $text-error;
	padding: 1rem;
	background-color: $background-secondary;
	margin-bottom: 1rem;
}

// ================
// Grid
// ================
.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	min-height: 0; // !!! This line fixing bug in Firefox with overflow-y !!!
}

.wrap {
	flex-wrap: wrap;
}

// ================
// Logo
// ================
.logo {
	justify-content: center;
	margin-bottom: 1rem;
	font-size: 4rem;
}

// ================
// Login form
// ================
.login-form {
	justify-content: center;
}

.login-form__form {
	flex-basis: 30%;
	padding: 2.5rem 2rem;
	border-radius: 1rem;
	background-color: $background-secondary;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.login-form__input-description {
	margin-bottom: 0.5rem;
	color: $text-secondary;
	font-size: 0.9rem;
	font-weight: bold;
}

.login-form__input, .login-form__submit-button, .login-form__submit-button_disabled {
	height: 2.5rem;
	font-size: 1.1rem;
	border-radius: 0.2rem;
}

.login-form__input {
	margin-bottom: 1rem;
	padding-left: 0.5rem;
}

.login-form__submit-button {
	background-color: $button-primary;
	color: $text-primary;
	transition: background-color 0.5s;

	&:hover {
		background-color: $button-primary-dark;
	}
}

.login-form__submit-button_disabled {
	background-color: $text-secondary;
	color: $text-primary;
	transition: background-color 0.5s;
	cursor: initial;
}

// ================
// Chat room
// ================
.chat-room {
	background-color: $background-primary-dark;
	flex-basis: 100%;
	width: 70%;
	align-self: center;
}

.chat-room__header, .chat-room__input-form {
	position: relative;
	z-index: 99;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.chat-room__header {
	position: relative;
	flex-basis: 7%;
	align-items: center;
	background-color: $background-secondary;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}


.chat-room__messages {
	position: relative;
	flex-basis: 86%;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.chat-room__input-form {
	flex-basis: 7%;
	background-color: $background-secondary;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.chat-room__input {
	flex-basis: 90%;
	padding-left: 1rem;
	font-size: 1rem;
	color: $text-primary;
	background-color: transparent;

	&::placeholder {
		color: $text-secondary;
	}
}

.chat-room__submit-button, .chat-room__submit-button_hidden {
	flex-basis: 10%;
	font-size: 1.2rem;
	background-color: transparent;
	transition: color 0.3s;
}

.chat-room__submit-button {
	color: $button-primary-bright;
	-webkit-tap-highlight-color: transparent;
}

.chat-room__submit-button_hidden {
	cursor: initial;
	color: transparent;
}

// ================
// Users
// ================

.user-list-dropdown {
	align-items: center;
	margin-left: 2rem;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.user-list-dropdown__quantity {
	font-weight: bold;
	font-size: 1.2rem;
	margin-right: 0.5rem;
}

.user-list-dropdown__list {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	max-height: 20rem;
	overflow-y: auto;
	padding: 0 1rem 1rem 1rem;
	background-color: $background-secondary;
	border-radius: 0 0 1rem 1rem;
}

.user-list-dropdown__list_open {
	display: initial;
}

.user-list-dropdown__user {
	margin-bottom: 0.3rem;
	margin-left: 1rem;

	&:last-of-type {
		margin-bottom: 0;
	}
}

// ================
// Stickers
// ================
.stickers {
	width: 28px;
	height: 27px;
}

.stickers__icon {
	background-image: url("https://cdn2.iconfinder.com/data/icons/set-of-stickers/154/sticker-smile-face-enjoy-label-512.png");
	width: 27px;
	height: 27px;
	background-size: cover;
	cursor: pointer;
	background-color: transparent;
	border: 0px;
	outline:0;
}

.stickers__container {
	position: relative;
	width: 0;
	height: 0;
}

.stickers__block__hide {
	display: none;
}

.stickers__block {
	position: absolute;
	width: 315px;
	height: 150px;
	background-color: $background-primary;
	top: -190px;
	right: -25px;
	border-radius: 10px;
}

.stickers__list {
	display: flex;
	flex-flow: row wrap;
	overflow: auto;
	background-color: $background-secondary;
	height: 150px;
	width: 300px;
	padding: 10px 10px;
	border-radius: 10px;
	margin: auto;
}

.stickers__item {
	height: 55px;
	width: 55px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-size: cover;
	cursor: pointer;
	border: $background-primary 2px solid;
	border-radius: 6px;
	transition: .3s;
	background-color: transparent;
	outline:0;
}

.stickers__item:hover {
	background-color: $text-secondary;
}

.stickers__block:before, .stickers__block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
	border-radius: 10px;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.stickers__block:after {
	filter: blur(50px);
}

// ================
// Message
// ================
.message {
	&:first-of-type {
		margin-top: 0.4rem;
	}
	&:last-of-type {
		margin-bottom: 0.4rem;
	}
}

.message__balloon {
	max-width: 70%; 
	margin: 0.25rem 0;
	padding: 1rem;
}

.message__balloon_my {
	margin-left: auto;
	margin-right: 0.5rem;
	border-radius: 1.5rem 1.5rem 0.5rem 1.5rem;
	background-color: $background-primary-bright;
}

.message__balloon_foreign {
	margin-left: 0.5rem;
	border-radius: 0.5rem 1.5rem 1.5rem 1.5rem;
	background-color: $background-secondary;
}

.message__username {
	color: $text-username;
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.message__text {
	word-wrap: break-word;
	margin-bottom: 0.2rem;
}

.message__timestamp {
	font-size: 0.7rem;
}

.message__timestamp_my {
	color: $text-secondary-bright;
}

.message__timestamp_foreign {
	color: $text-secondary;
}

.message__sticker {
	height: 100px;
	width: 100px;
	background-size: cover;
}

// ================
// Media queries
// ================

/* Small only */
@media screen and (max-width: 39.9375em) {
	.login-form__form {
		flex-basis: 100%;
		box-shadow: none;
		border-radius: 0;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.login-form__form {
		flex-basis: 50%;
	}
}

/* Medium and down */
@media screen and (max-width: 63.9375em) {
	.chat-room {
		width: 100%;
	}
}