@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

// ================
// Variables
// ================
$background-primary: #151E27;
$background-primary-dark: scale-color($background-primary, $lightness: -20%);
$background-primary-bright: #456A94;
$background-secondary: #222d3b;

$text-primary: #FFFFFF;
$text-secondary: #66727E;
$text-secondary-bright: #81A3C8;
$text-username: #a1c395;
$text-error: #CA84A9;

$button-primary: #62A9DC; 
$button-primary-dark: scale-color($button-primary, $lightness: -20%);
$button-primary-bright: #65CDFB;


// ================
// App
// ================
.app {
	font-family: 'PT Sans', Arial, sans-serif;
	background-color: $background-primary;
	color: $text-primary;
	height: 100vh;
	justify-content: center;
}

// ================
// General
// ================

.button, .input {
	border: none;
	outline: none;
	font-family: inherit;
}

.button {
	cursor: pointer;
}

.overlay {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.5;
}

.overlay_on {
	display: initial;
}

.error {
	justify-content: center;
	color: $text-error;
	padding: 1rem;
	background-color: $background-secondary;
	margin-bottom: 1rem;
}

// ================
// Grid
// ================
.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	min-height: 0; // !!! This line fixing bug in Firefox with overflow-y !!!
}

.wrap {
	flex-wrap: wrap;
}

// ================
// Logo
// ================
.logo {
	justify-content: center;
	margin-bottom: 1rem;
	font-size: 4rem;
}

// ================
// Login form
// ================
.login-form {
	justify-content: center;
}

.login-form__form {
	flex-basis: 30%;
	padding: 2.5rem 2rem;
	border-radius: 1rem;
	background-color: $background-secondary;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.login-form__input-description {
	margin-bottom: 0.5rem;
	color: $text-secondary;
	font-size: 0.9rem;
	font-weight: bold;
}

.login-form__input, .login-form__submit-button, .login-form__submit-button_disabled {
	height: 2.5rem;
	font-size: 1.1rem;
	border-radius: 0.2rem;
}

.login-form__input {
	margin-bottom: 1rem;
	padding-left: 0.5rem;
}

.login-form__submit-button {
	background-color: $button-primary;
	color: $text-primary;
	transition: background-color 0.5s;

	&:hover {
		background-color: $button-primary-dark;
	}
}

.login-form__submit-button_disabled {
	background-color: $text-secondary;
	color: $text-primary;
	transition: background-color 0.5s;
	cursor: initial;
}

// ================
// Chat room
// ================
.chat-room {
	background-color: $background-primary-dark;
	flex-basis: 100%;
	width: 70%;
	align-self: center;
}

.chat-room__header, .chat-room__input-form {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.chat-room__header {
	position: relative;
	z-index: 999;
	flex-basis: 7%;
	align-items: center;
	background-color: $background-secondary;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.chat-room__headerTypingUsers {
	margin-left: 20px;
	font-weight: 500;
	color: $button-primary-bright;
	display: flex;
	@keyframes blink {
		0% {
		  opacity: .2;
		}
		20% {
		  opacity: 1;
		}
		100% {
		  opacity: .2;
		}
	}
	span {
		animation-name: blink;
		animation-duration: 1.4s;
		animation-iteration-count: infinite;
		animation-fill-mode: both;
		display: block;
		height: 4px;
		width: 4px;
		border-radius: 50%;
		background-color: $button-primary-bright;
		margin-left: 3px;
		margin-top: 10px;
		&:nth-child(2){
			animation-delay: .2s;
		}
		&:nth-child(3){
			animation-delay: .4s;
		}
	}
}

.chat-room__messages {
	position: relative;
	flex-basis: 86%;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.chat-room__input-form {
	align-items: center;
	flex-basis: 7%;
	background-color: $background-secondary;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.chat-room__input {
	flex-basis: 90%;
	padding-left: 1rem;
	font-size: 1rem;
	color: $text-primary;
	background-color: transparent;

	&::placeholder {
		color: $text-secondary;
	}
}

.chat-room__submit-button, .chat-room__submit-button_hidden {
	flex-basis: 10%;
	font-size: 1.2rem;
	background-color: transparent;
	transition: color 0.3s;
}

.chat-room__submit-button {
	color: $button-primary-bright;
	-webkit-tap-highlight-color: transparent;
}

.chat-room__submit-button_hidden {
	cursor: initial;
	color: transparent;
}

// ================
// Users
// ================

.user-list-dropdown {
	align-items: center;
	margin-left: 2rem;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.user-list-dropdown__quantity {
	font-weight: bold;
	font-size: 1.2rem;
	margin-right: 0.5rem;
}

.user-list-dropdown__list {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	max-height: 20rem;
	overflow-y: auto;
	padding: 0 1rem 1rem 1rem;
	background-color: $background-secondary;
	border-radius: 0 0 1rem 1rem;
}

.user-list-dropdown__list_open {
	display: initial;
}

.user-list-dropdown__user {
	margin-bottom: 0.3rem;
	margin-left: 1rem;

	&:last-of-type {
		margin-bottom: 0;
	}
}

// ================
// Stickers
// ================
.stickers {
	padding: 0;
	height: 24px;
}

.stickers__icon {
	width: 24px;
	height: 24px;
	color: $button-primary-bright;
	background-color: transparent;
	padding: 0;
}


.stickers__container {
	position: relative;
	width: 0;
	height: 0;
}

.stickers__block_hidden {
	display: none;
}

.stickers__block {
	position: absolute;
	width: 315px;
	height: 150px;
	background-color: $background-primary;
	top: -190px;
	right: -25px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.stickers__list {
	display: flex;
	flex-flow: row wrap;
	overflow: auto;
	background-color: $background-secondary;
	height: 150px;
	width: 300px;
	padding: 10px 10px;
	border-radius: 10px;
	margin: auto;
}

.stickers__item {
	height: 55px;
	width: 55px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-size: cover;
	border-radius: 6px;
	transition: .3s;
	background-color: transparent;
	&:hover {
		background-color: $text-secondary;
	}
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.stickers__block:after {
	filter: blur(50px);
}

// ================
// Message
// ================
.message {
	&:first-of-type {
		margin-top: 0.4rem;
	}
	&:last-of-type {
		margin-bottom: 0.4rem;
	}
}

.message__balloon {
	max-width: 70%; 
	margin: 0.25rem 0;
	padding: 1rem;
}

.message__balloon_my {
	margin-left: auto;
	margin-right: 0.5rem;
	border-radius: 1.5rem 1.5rem 0.5rem 1.5rem;
	background-color: $background-primary-bright;
}

.message__balloon_foreign {
	margin-left: 0.5rem;
	border-radius: 0.5rem 1.5rem 1.5rem 1.5rem;
	background-color: $background-secondary;
}

.message__username {
	color: $text-username;
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.message__text {
	word-wrap: break-word;
	margin-bottom: 0.2rem;
}

.message__timestamp {
	font-size: 0.7rem;
}

.message__timestamp_my {
	color: $text-secondary-bright;
}

.message__timestamp_foreign {
	color: $text-secondary;
}

.message__sticker {
	height: 100px;
	width: 100px;
	background-size: cover;
}

// ================
// Media queries
// ================

/* Small only */
@media screen and (max-width: 39.9375em) {
	.login-form__form {
		flex-basis: 100%;
		box-shadow: none;
		border-radius: 0;
	}
	.stickers__block{
		width: 66vw;
	}
	.stickers__list{
		width: 66vw;
		padding: 10px 0px;
		justify-content: center;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.login-form__form {
		flex-basis: 50%;
	}
}

/* Medium and down */
@media screen and (max-width: 63.9375em) {
	.chat-room {
		width: 100%;
	}
}